*.DS_Store
*.o
Aa*
aa*
dasm
pretty6502
pretty6502.exe
sf65
*.out
*.pretty
*.pretyy
*.lst
*.map
*.lbl
*.a
*.lib
*~
.codelite/
Debug/
sf65.mk
sf65.txt
*.orig
*.layout
*.log
test_strcspn
va_arg_test
testfiles/comment_test_def
testfiles/comment_test_def.log
testfiles/comment_test_-dl-ml
testfiles/comment_test_-dl-ml.log
testfiles/comment_test_-dl-mu
testfiles/comment_test_-dl-mu.log
testfiles/comment_test_-dl-mu-n2
testfiles/comment_test_-dl-mu-n2.log
testfiles/comment_test_-du-ml
testfiles/comment_test_-du-ml-c40
testfiles/comment_test_-du-ml-c40.log
testfiles/comment_test_-du-ml-e0
testfiles/comment_test_-du-ml-e0.log
testfiles/comment_test_-du-ml-e1
testfiles/comment_test_-du-ml-e1.log
testfiles/comment_test_-du-ml-l0
testfiles/comment_test_-du-ml-l0.log
testfiles/comment_test_-du-ml-l1
testfiles/comment_test_-du-ml-l1.log
testfiles/comment_test_-du-ml-l2
testfiles/comment_test_-du-ml-l2.log
testfiles/comment_test_-du-ml.log
testfiles/comment_test_-du-ml-m16
testfiles/comment_test_-du-ml-m16.log
testfiles/comment_test_-du-ml-o16
testfiles/comment_test_-du-ml-o16.log
testfiles/comment_test_-du-ml-s1
testfiles/comment_test_-du-ml-s1.log
testfiles/comment_test_-du-mu
testfiles/comment_test_-du-mu.log
testfiles/comment_test.txt
testfiles/expressions_test_def
testfiles/expressions_test_def.log
testfiles/expressions_test_-dl-ml
testfiles/expressions_test_-dl-ml.log
testfiles/expressions_test_-dl-mu
testfiles/expressions_test_-dl-mu.log
testfiles/expressions_test_-dl-mu-n2
testfiles/expressions_test_-dl-mu-n2.log
testfiles/expressions_test_-du-ml
testfiles/expressions_test_-du-ml-c40
testfiles/expressions_test_-du-ml-c40.log
testfiles/expressions_test_-du-ml-e0
testfiles/expressions_test_-du-ml-e0.log
testfiles/expressions_test_-du-ml-e1
testfiles/expressions_test_-du-ml-e1.log
testfiles/expressions_test_-du-ml-l0
testfiles/expressions_test_-du-ml-l0.log
testfiles/expressions_test_-du-ml-l1
testfiles/expressions_test_-du-ml-l1.log
testfiles/expressions_test_-du-ml-l2
testfiles/expressions_test_-du-ml-l2.log
testfiles/expressions_test_-du-ml.log
testfiles/expressions_test_-du-ml-m16
testfiles/expressions_test_-du-ml-m16.log
testfiles/expressions_test_-du-ml-o16
testfiles/expressions_test_-du-ml-o16.log
testfiles/expressions_test_-du-ml-s1
testfiles/expressions_test_-du-ml-s1.log
testfiles/expressions_test_-du-mu
testfiles/expressions_test_-du-mu.log
testfiles/expressions_test.txt
testfiles/hexvariable_test_def
testfiles/hexvariable_test_def.log
testfiles/hexvariable_test_-dl-ml
testfiles/hexvariable_test_-dl-ml.log
testfiles/hexvariable_test_-dl-mu
testfiles/hexvariable_test_-dl-mu.log
testfiles/hexvariable_test_-dl-mu-n2
testfiles/hexvariable_test_-dl-mu-n2.log
testfiles/hexvariable_test_-du-ml
testfiles/hexvariable_test_-du-ml-c40
testfiles/hexvariable_test_-du-ml-c40.log
testfiles/hexvariable_test_-du-ml-e0
testfiles/hexvariable_test_-du-ml-e0.log
testfiles/hexvariable_test_-du-ml-e1
testfiles/hexvariable_test_-du-ml-e1.log
testfiles/hexvariable_test_-du-ml-l0
testfiles/hexvariable_test_-du-ml-l0.log
testfiles/hexvariable_test_-du-ml-l1
testfiles/hexvariable_test_-du-ml-l1.log
testfiles/hexvariable_test_-du-ml-l2
testfiles/hexvariable_test_-du-ml-l2.log
testfiles/hexvariable_test_-du-ml.log
testfiles/hexvariable_test_-du-ml-m16
testfiles/hexvariable_test_-du-ml-m16.log
testfiles/hexvariable_test_-du-ml-o16
testfiles/hexvariable_test_-du-ml-o16.log
testfiles/hexvariable_test_-du-ml-s1
testfiles/hexvariable_test_-du-ml-s1.log
testfiles/hexvariable_test_-du-mu
testfiles/hexvariable_test_-du-mu.log
testfiles/hexvariable_test.txt
testfiles/label_test_def
testfiles/label_test_def.log
testfiles/label_test_-dl-ml
testfiles/label_test_-dl-ml.log
testfiles/label_test_-dl-mu
testfiles/label_test_-dl-mu.log
testfiles/label_test_-dl-mu-n2
testfiles/label_test_-dl-mu-n2.log
testfiles/label_test_-du-ml
testfiles/label_test_-du-ml-c40
testfiles/label_test_-du-ml-c40.log
testfiles/label_test_-du-ml-e0
testfiles/label_test_-du-ml-e0.log
testfiles/label_test_-du-ml-e1
testfiles/label_test_-du-ml-e1.log
testfiles/label_test_-du-ml-l0
testfiles/label_test_-du-ml-l0.log
testfiles/label_test_-du-ml-l1
testfiles/label_test_-du-ml-l1.log
testfiles/label_test_-du-ml-l2
testfiles/label_test_-du-ml-l2.log
testfiles/label_test_-du-ml.log
testfiles/label_test_-du-ml-m16
testfiles/label_test_-du-ml-m16.log
testfiles/label_test_-du-ml-o16
testfiles/label_test_-du-ml-o16.log
testfiles/label_test_-du-ml-s1
testfiles/label_test_-du-ml-s1.log
testfiles/label_test_-du-mu
testfiles/label_test_-du-mu.log
testfiles/label_test.txt
testfiles/mnemonics_test_def
testfiles/mnemonics_test_def.log
testfiles/mnemonics_test_-dl-ml
testfiles/mnemonics_test_-dl-ml.log
testfiles/mnemonics_test_-dl-mu
testfiles/mnemonics_test_-dl-mu.log
testfiles/mnemonics_test_-dl-mu-n2
testfiles/mnemonics_test_-dl-mu-n2.log
testfiles/mnemonics_test_-du-ml
testfiles/mnemonics_test_-du-ml-c40
testfiles/mnemonics_test_-du-ml-c40.log
testfiles/mnemonics_test_-du-ml-e0
testfiles/mnemonics_test_-du-ml-e0.log
testfiles/mnemonics_test_-du-ml-e1
testfiles/mnemonics_test_-du-ml-e1.log
testfiles/mnemonics_test_-du-ml-l0
testfiles/mnemonics_test_-du-ml-l0.log
testfiles/mnemonics_test_-du-ml-l1
testfiles/mnemonics_test_-du-ml-l1.log
testfiles/mnemonics_test_-du-ml-l2
testfiles/mnemonics_test_-du-ml-l2.log
testfiles/mnemonics_test_-du-ml.log
testfiles/mnemonics_test_-du-ml-m16
testfiles/mnemonics_test_-du-ml-m16.log
testfiles/mnemonics_test_-du-ml-o16
testfiles/mnemonics_test_-du-ml-o16.log
testfiles/mnemonics_test_-du-ml-s1
testfiles/mnemonics_test_-du-ml-s1.log
testfiles/mnemonics_test_-du-mu
testfiles/mnemonics_test_-du-mu.log
testfiles/mnemonics_test.txt
testfiles/scope_padding_test_def
testfiles/scope_padding_test_def.log
testfiles/scope_padding_test_-dl-ml
testfiles/scope_padding_test_-dl-ml.log
testfiles/scope_padding_test_-dl-mu
testfiles/scope_padding_test_-dl-mu.log
testfiles/scope_padding_test_-dl-mu-n2
testfiles/scope_padding_test_-dl-mu-n2.log
testfiles/scope_padding_test_-du-ml
testfiles/scope_padding_test_-du-ml-c40
testfiles/scope_padding_test_-du-ml-c40.log
testfiles/scope_padding_test_-du-ml-e0
testfiles/scope_padding_test_-du-ml-e0.log
testfiles/scope_padding_test_-du-ml-e1
testfiles/scope_padding_test_-du-ml-e1.log
testfiles/scope_padding_test_-du-ml-l0
testfiles/scope_padding_test_-du-ml-l0.log
testfiles/scope_padding_test_-du-ml-l1
testfiles/scope_padding_test_-du-ml-l1.log
testfiles/scope_padding_test_-du-ml-l2
testfiles/scope_padding_test_-du-ml-l2.log
testfiles/scope_padding_test_-du-ml.log
testfiles/scope_padding_test_-du-ml-m16
testfiles/scope_padding_test_-du-ml-m16.log
testfiles/scope_padding_test_-du-ml-o16
testfiles/scope_padding_test_-du-ml-o16.log
testfiles/scope_padding_test_-du-ml-s1
testfiles/scope_padding_test_-du-ml-s1.log
testfiles/scope_padding_test_-du-mu
testfiles/scope_padding_test_-du-mu.log
testfiles/scope_padding_test.txt
testfiles/test_def
testfiles/test_def.log
testfiles/test_-dl-ml
testfiles/test_-dl-ml.log
testfiles/test_-dl-mu
testfiles/test_-dl-mu.log
testfiles/test_-dl-mu-n2
testfiles/test_-dl-mu-n2.log
testfiles/test_-du-ml
testfiles/test_-du-ml-c40
testfiles/test_-du-ml-c40.log
testfiles/test_-du-ml-e0
testfiles/test_-du-ml-e0.log
testfiles/test_-du-ml-e1
testfiles/test_-du-ml-e1.log
testfiles/test_-du-ml-l0
testfiles/test_-du-ml-l0.log
testfiles/test_-du-ml-l1
testfiles/test_-du-ml-l1.log
testfiles/test_-du-ml-l2
testfiles/test_-du-ml-l2.log
testfiles/test_-du-ml.log
testfiles/test_-du-ml-m16
testfiles/test_-du-ml-m16.log
testfiles/test_-du-ml-o16
testfiles/test_-du-ml-o16.log
testfiles/test_-du-ml-s1
testfiles/test_-du-ml-s1.log
testfiles/test_-du-mu
testfiles/test_-du-mu.log
testfiles/test.txt
testfiles/test.err
testfiles/*.err
testfiles/*.diff
testfiles/*.out
testfiles/*.log
